<div class="p-6">
    <h1 class="text-2xl font-bold mb-6">Bienvenido a la API Test</h1>
    <ul class="space-y-4">
      <li>
        <a
          routerLink="/posts"
          class="text-blue-500 hover:underline"
        >
          /posts
        </a> - 100 posts
      </li>
      <li>
        <a
          routerLink="/comments"
          class="text-blue-500 hover:underline"
        >
          /comments
        </a> - 500 comments
      </li>
      <li>
        <a
          routerLink="/albums"
          class="text-blue-500 hover:underline"
        >
          /albums
        </a> - 100 albums
      </li>
      <li>
        <a
          routerLink="/photos"
          class="text-blue-500 hover:underline"
        >
          /photos
        </a> - 5000 photos
      </li>
      <li>
        <a
          routerLink="/todos"
          class="text-blue-500 hover:underline"
        >
          /todos
        </a> - 200 todos
      </li>
      <li>
        <a
          routerLink="/usuarios"
          class="text-blue-500 hover:underline"
        >
          /users
        </a> - 10 users
      </li>
    </ul>
  </div>
  